@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply text-violet-400 underline underline-offset-4 decoration-violet-700 hover:text-violet-300 hover:decoration-violet-300 transition;
}
